@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

#container {
  margin: 0 auto;
}

header {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(./images/elliewitharrow.jpeg);
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.text-color {
 color: #ff7517;
}

.heading-secondary--sub {
  color: #f7f7f7;
  margin: 40px;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;  
}

#display-timer {
  display: flex;
  text-transform: uppercase;
  margin-top: 40px;
  transform: translate(10%, 50%);
  position: absolute;
  color: #f7f7f7;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.smalltext {
  color: #f7f7f7;
  margin: 0px 40px;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  top: 10%;
  left: 27%;
  position: absolute;
  text-align: center;
}

.buttons {
  display: flex;
}

.btn-primary {
  color: black;
  text-decoration: none;
  margin-left: 20%;
  background-color: #ff7517;
  padding: 10px 15px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; 
  text-align: center;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #ffae00;
  transition: all .2s ease-out;
  border-radius: 20px;
  
}

main {
  display: block;
}

.section-story {
  display: flex;
  justify-content: flex-end;
  padding: 10rem 5rem;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/the-last-of-us2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.heading-secondary {
  color: #f7f7f7;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  border-bottom: 5px solid #ff7517;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
}


p {
  color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: justify;
}

.section-trailers {
  padding: 5rem;
  background-color: rgb(14, 14, 14);
}

.trailer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin: 8rem auto 0;
}

.trailer-box {
  margin-bottom: 4rem;
}

.trailer-box__screenshot {
  border-radius: 3px;
  margin: 0 auto;
  width: 80%;
  display: block;
  transition: all .3s;
  border: 2px solid transparent;
}

.trailer-box__screenshot:hover {
  cursor: pointer;
  border: 2px solid #ff7517;
  transform: translateY(-.2rem);
}

.trailer-box__heading {
  font-size: 1.5rem;
  padding-top: .5rem;
  text-align: center;
  color: #f7f7f7;
  font-family: 'Oswald', sans-serif;

}

/* MODAL CONTAINER */
.modal-container {
  animation-name: zoom;
  animation-duration: 1s;
  background-color:rgba(0,0,0,0.8);
  display: none;
  position: fixed;
  width: 100%;
  height: 115vh;
  z-index: 10000000;
}

.modal-container__toggle {
  font-size: 3.8rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.modal-container__toggle--icon {
  color: #f7f7f7;
  text-shadow: 0px 5px 10px #000;
  transition: all .3s;
}

.modal-container__toggle--icon:hover {
  color: #ff7517;
  cursor: pointer;
}

.modal-container__content {
  border: 2px solid #ff7517;
  background-color: #000;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%    !important;
  height: auto   !important;
}

.modal-container__img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.modal-container__vid {
  display: block;
  margin: 0 auto;
  width: 90% !important;
  height: 90vh !important;
}

.modal-toggle {
  display: none;
}

.modal-toggle--position {
  color: #f7f7f7;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  z-index: 10000001;
}

.modal-toggle--icon {
  cursor: pointer;
  font-size: 3.8rem;
  text-shadow: 0px 3px 10px rgb(15, 15, 15);
  transition: all .3s;
}

.modal-toggle--icon:hover {
  color: #ff7517;
}

.fa-times:before {
  content: "\f00d";
  font-size: 3rem;
}

/* Modal Box Zoom Animation */
@keyframes zoom {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }
}

/* gallery */

.section-gallery {
  padding: 5rem 5rem 10rem;
  background-color: rgb(14, 14, 14);
}

.wrapper-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  grid-template-areas: 
  "img1 img2 img3"
  "img4 img5 img6"
  "img7 img8 img9"
  "img10 img11 img12"
  "img13 img14 img15" 
  "img16 img17 img18" 
  "img19 img20 img21";
  width: 105%;
}

.wrapper-gallery .gallery-img {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.gallery-container {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  transition: all .3s;

}

.gallery-img {
  transform: scale(1.2);
  transition: all .3s;
  opacity: 0.7;
  overflow: hidden;
  backface-visibility: hidden;


}

.gallery-img:hover {
  opacity: 1;
  transform: scale(1.1);
  border: 2px solid #ff7517;
  transition: all .3s; 
}

/* images */

.section-gallery .img1 {
  grid-area: img1;
  background-image: url('./gallery/img1.jpeg');
}

.section-gallery .img2 {
  grid-area: img2;
  background-image: url('./gallery/img2.jpeg');
}

.section-gallery .img3 {
  grid-area: img3;
  background-image: url('./gallery/img3.jpeg');
}

.section-gallery .img4 {
  grid-area: img4;
  background-image: url('./gallery/img4.jpeg');
}

.section-gallery .img5 {
  grid-area: img5;
  background-image: url('./gallery/img5.jpeg');
}

.section-gallery .img6 {
  grid-area: img6;
  background-image: url('./gallery/img6.jpeg');
}

.section-gallery .img7 {
  grid-area: img7;
  background-image: url('./gallery/img7.jpeg');
}

.section-gallery .img8 {
  grid-area: img8;
  background-image: url('./gallery/img8.jpeg');
}

.section-gallery .img9 {
  grid-area: img9;
  background-image: url('./gallery/img9.jpeg');
}

.section-gallery .img10 {
  grid-area: img10;
  background-image: url('./gallery/img10.jpeg');
}

.section-gallery .img11 {
  grid-area: img11;
  background-image: url('./gallery/img11.jpeg');
}

.section-gallery .img12 {
  grid-area: img12;
  background-image: url('./gallery/img12.jpeg');
}

.section-gallery .img13 {
  grid-area: img13;
  background-image: url('./gallery/img13.jpeg');
}

.section-gallery .img14 {
  grid-area: img14;
  background-image: url('./gallery/img14.jpeg');
}

.section-gallery .img15 {
  grid-area: img15;
  background-image: url('./gallery/img15.jpeg');
}

.section-gallery .img16 {
  grid-area: img16;
  background-image: url('./gallery/img16.jpeg');
}

.section-gallery .img17 {
  grid-area: img17;
  background-image: url('./gallery/img17.jpeg');
}

.section-gallery .img18 {
  grid-area: img18;
  background-image: url('./gallery/img18.jpeg');
}

.section-gallery .img19 {
  grid-area: img19;
  background-image: url('./gallery/img19.jpeg');
}

.section-gallery .img20 {
  grid-area: img20;
  background-image: url('./gallery/img20.jpeg');
}

.section-gallery .img21 {
  grid-area: img21;
  background-image: url('./gallery/img21.jpeg');
}

/* pop up window when clicked */
.img-window {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 80vh;
  max-width: 80vw;
}

/* Next Image */
.img-btn-next {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover {
  opacity: 0.8;
}

/* Prev Image */
.img-btn-prev {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover {
  opacity: 0.8;
  
}

.section-footer  {
  background-color: black;
  color: white;
  padding: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.company-logo {
  /* display: flex; */
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  
}

p.footer {
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  header {
    height: 50vh;
  }

  .container {
    top: 20%;
    left: 15%;
  }

  .trailer-box__screenshot {
    width: 100%;
  }

  .section-story {
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/ellie2.jpg);
    padding: 5rem 5rem;
    justify-content: center;
  }
}





