@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

header {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(./images/elliewitharrow.jpg);
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-color {
 color: #ff7517;
}

.heading-secondary--sub {
  color: #f7f7f7;
  margin: 40px;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;  
}

#display-timer {
  display: flex;
  text-transform: uppercase;
  margin-top: 40px;
  transform: translate(5%, 50%);
  position: absolute;
  color: #f7f7f7;
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.smalltext {
  margin: 0px 40px;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  top: 10%;
  left: 27%;
  position: absolute;
  text-align: center;
}

.buttons {
  display: flex;
}

.btn-primary {
  color: black;
  text-decoration: none;
  margin-left: 20%;
  background-color: #ff7517;
  padding: 10px 15px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase; 
  text-align: center;
  border: none;
  font-size: 1.5rem;
}

main {
  display: block;
}

.section-story {
  padding: 10rem 5rem;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/the-last-of-us2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.heading-secondary {
  color: #f7f7f7;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  border-bottom: 5px solid #ff7517;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.grid-right {
  grid-area: right;
  display: inline-block;
  transform: translate(150%, 0%);  
}

p {
  color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: justify;
}



.section-trailers {
  padding: 5rem;
  background-color: rgb(14, 14, 14);
}

.section-gallery {
  padding: 5rem 5rem 25rem;
  background-color: rgb(14, 14, 14);
}

.trailer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 6rem;
  margin: 6rem auto 0;
}

.trailer-box {
  margin-bottom: 4rem;
}

.trailer-box__screenshot {
  border-radius: 3px;
  margin: 0 auto;
  width: 80%;
  display: block;
  transition: all .3s;
  border: 2px solid transparent;
}

.trailer-box__screenshot:hover {
  cursor: pointer;
  border: 2px solid #ff7517;
  transform: translateY(-.2rem);
}

.trailer-box__heading {
  font-size: 1.5rem;
  padding-top: .5rem;
  text-align: center;
  color: #f7f7f7;
  font-family: 'Oswald', sans-serif;

}

/* MODAL CONTAINER */
.modal-container {
  animation-name: zoom;
  animation-duration: 1s;
  background-color:rgba(0,0,0,0.8);
  display: none;
  position: fixed;
  width: 100%;
  height: 115vh;
  z-index: 10000000;
}

.modal-container__toggle {
  font-size: 3.8rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.modal-container__toggle--icon {
  color: #f7f7f7;
  text-shadow: 0px 5px 10px #000;
  transition: all .3s;
}

.modal-container__toggle--icon:hover {
  color: #ff7517;
  cursor: pointer;
}

.modal-container__content {
  border: 2px solid #ff7517;
  background-color: #000;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%    !important;
  height: auto   !important;
}

.modal-container__img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.modal-container__vid {
  display: block;
  margin: 0 auto;
  width: 90% !important;
  height: 90vh !important;
}

.modal-toggle {
  display: none;
}

.modal-toggle--position {
  color: #f7f7f7;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  z-index: 10000001;
}

.modal-toggle--icon {
  cursor: pointer;
  font-size: 3.8rem;
  text-shadow: 0px 3px 10px rgb(15, 15, 15);
  transition: all .3s;
}

.modal-toggle--icon:hover {
  color: #ff7517;
}

.fa-times:before {
  content: "\f00d";
  font-size: 3rem;
}


/* Modal Box Zoom Animation */
@keyframes zoom {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }
}

